# Environment variables
*.env

# MP3 Variables (voice output)
*.mp3

# PKL Files
*.pkl

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
venv/
env/
.env/

# OS specific
.DS_Store
Thumbs.db

# json - google auth docs
oauth_credentials.json
token.json
token_calendar.json

# private api access docs
ollama_api_access.md

#txt files
*.txt

# egg info (from installing project as a package)
*.egg-info/
