# Environment variables
*.env

# MP3 Variables (voice output)
*.mp3

# PKL Files
*.pkl

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
venv/
env/
.env/

# OS specific
.DS_Store
Thumbs.db